* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root  {
    --main-color: darkcyan;
    /* --main-color: darkgreen; */
    --secondary-color-dark: #303030;
    --background-white: #f5f5f5;
    --text-color: #252525;
    line-height: 1.5;
}

html {
    font-size: 16px;
    margin:0;
    background-color: var(--background-white);
}

h1 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    appearance: none;
    color: black;
}


/* BODY ------------------------ */
body {
    line-height: 1.6;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--text-color);
    background-color: var(--background-white);
    /* font-family: "Oswald"; */
    /* font-family: "Merriweather";
    font-family: "Montserrat"; */


}

.top-nav {
    background-color: var(--main-color);
    height: 25px;
}

/* Navbar ---------------------- */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 18vw;
    background-color: var(--background-white);
    border-bottom: 1px solid lightgrey;
    position: relative;
    z-index: 1000; /* Ensure navbar is above other content */
  }
  
  .logo-container {
    width: 300px;
    margin-right: 40px;
  }
  
  .img-logo {
    width: 100%;
    /* padding: 20px; */
    border-radius: 5px;

  }

  .div-logo {
    display: flex;
    flex-direction: column;
    gap: 0;
    font-family: "Oswald";
    /* font-family: "Merriweather"; */
    /* font-family: "Montserrat"; */
  }

  .div-logo h1 {
    font-size: 2rem;
  }

  .div-logo p {
    font-size: 1.5rem;
    color: var(--main-color)
  }
  
  .nav-menu ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 2rem;
  }
  
  /* .nav-menu ul li {
    margin-left: 1rem;
  } */
  
  .nav-menu ul li a {
    text-decoration: none;
    color: var(--text-color);
    /* font-family: "Oswald", sans-serif; */
    font-size: 1rem;
    letter-spacing: .5px;
    /* font-family: "Merriweather"; */
  }
  
  .nav-menu ul li a:hover {
    color: var(--main-color);
  }
  
  .hamburger {
    display: none;
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: var(--text-color);
  }
  
  .portada-container {
    position: relative;
    z-index: 1; /* Ensure portada is below navbar */
  }
  
  @media screen and (max-width: 1040px) {
    .nav-menu {
      position: fixed;
      left: -100%;
      top: 7rem;
      flex-direction: column;
      background-color: var(--background-white);
      width: 100%;
      text-align: center;
      transition: 0.6s;
      box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
      z-index: 999; /* Ensure menu is above portada but below navbar */
    }
  
    .nav-menu.active {
      left: 0;
    }
  
    .nav-menu ul {
      flex-direction: column;
    }
  
    .nav-menu ul li {
      margin: 1rem 0;
      height: 5vh;
    }
  
    .hamburger {
      display: block;
      z-index: 1001;
    }
  }




.title {
  text-align: center;
  margin-top: 40px;
}

/* Portada de imagen y texto en el centro */
.portada-container {
    display: flex;
    position: relative;
    text-align: center;
    color: white;
    justify-content: center;
    align-items: center;
}

.img-portada {
    width: 100vw;
    max-width: 100%;
}

.texto-portada {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    color: white;
    border-radius: 5px;
    padding: 0 20px;
    width: max-content;
    max-width: 60%;
    font-size: 4.5vw;
    font-weight: 500;
    letter-spacing: 2px;
    /* background-color: rgba(0, 0, 0, 0.329); */
    text-shadow: 1px 1px 4px black;
    /* font-family: "Playfair Display"; */
}

.texto-portada-secundario {
    font-size: 4vw;
    letter-spacing: 2px;
    background-color: rgba(0, 0, 0, 0.507);
    /* text-shadow: 1px 1px 4px black; */
    text-shadow: none;
}

@media screen and (max-width: 768px){
  .texto-portada {
    font-size: 26px;
  }

  .logo-container {
    width: 60%;
  }

  .navbar {
    padding: 16px 32px 16px 8px;
  }
} 
/* FIN PORTADA DE IMAGEN COMPLETA */

.nosotros-container {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    justify-content: center;
    align-items: center;
    width: 55%;
    margin:30px auto;
    font-size: 1.1rem;
    gap: 2rem;
    text-align: justify;
    /* margin-bottom: 2rem; */
}

@media screen and (max-width: 768px) {
  .nosotros-container {
  /* margin: auto; */
  width: 90vw;
  font-size: 1rem;
  }
}

/* Cards in home page */
.cards-container {
    padding: 100px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}
.card {
    border: 0.5px solid rgba(0, 0, 0, 0.212);
    border-radius: 10px;
    padding: 1rem 2rem;
    max-width: 600px;
    text-align: justify;
    font-size: 1.1rem;
}

.card h2 {
    margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
  .card {
    font-size: 1rem;
  }
  .card h2 {
    font-size: 1.2rem;
  }
  .card .text-link {
    font-size: 1.2rem;
  }
}

/* Carrds for Areas de pr치ctica */
.areas-container {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 20px 300px 80px 300px;
}
.area-img {
    width: 300px;
    height: auto;
    /* border-radius: 200px; */
    filter:grayscale(50%)
}
.area-card {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: flex-start;
    gap: 70px;
}
.area-card h3 {
  color: var(--main-color)
}
.area-card-text {
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 1rem;
    text-align: justify;
    padding: 20px 20px 0 0;
}


/* Ases칩rate con nosotros */
.asesorate-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    color: whitesmoke;
    padding: 30px 50px;
    font-size: 1.2rem;
}


.linkedin-text-link {
  color: #0A66C2;
  height: 1.2rem;
  margin: auto;
}

.linkedin-img {
  width: fit-content;
  margin-top: 10px;
  text-align: center;
}


/* Bot칩n de Ases칩rate con nosotros */
.btn-contacto {
    margin-top: 2rem;
    padding: 8px 36px;
    border-radius: 2rem;
    font-size: 1.2rem;
    border: 1px solid whitesmoke;
    color: whitesmoke;
}

.btn-contacto:hover {
    color: black;
    border-color: black;
    /* background-color: whitesmoke; */
}


.text-link {
    color: var(--main-color); 
    color: grey;
    font-weight: 700; 
    text-decoration: none;
    font-size: 1.3rem;
}
.text-link:hover {
    color: black;
}



.equipo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    gap: 100px;
    flex-wrap: wrap;
}

.equipo-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    /* border: 1px solid black; */
    border-radius: 10px;
}

@media screen and (max-width: 768px) {

  .equipo-card {
    width: 200px;
    text-align: center;
  }
}

.equipo-card a {
    width: inherit;
    border-radius: inherit;
}


.equipo-card-img {
    width: inherit;
    padding: 0 1px;
    border-radius: inherit;
}

.main-color {
    color: var(--main-color)
}
.main-color-bg {
    background-color: var(--main-color)
}



.contacto-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  /* margin: 20px; */
  /* border-radius: 20px; */
}

.contacto-container p {
  color: var(--main-color)
}

.contacto-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 50px 0;
}

.contacto-card {
  width: 300px;
  border: 1px solid rgb(163, 163, 163);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 20px 40px;
  text-align: center;
}

.map {
  border-radius: 10px;
  box-shadow: 0 0 4px grey;
  margin-bottom: 40px;
}









footer {
    background-color: var(--background-white);
    background-color: var(--main-color);
    /* background-color: lightgrey; */
    color: lightgray;
    color: var(--main-color);
    /* text-align: center; */
    padding: 2rem 10%;
    margin-bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 -2px 2px lightgrey;
}

.div-logo-footer {
  color: black;
  display: flex;
  flex-direction: column;
  gap: 0;
}


.div-logo-footer h1 {
  font-size: 2rem;
  color: white;
}

.div-logo-footer p {
  font-size: 1.5rem;
  color: white;
}



/* CODIGO NUEVO PARA HEERLEIN DE PORTADA AAAAAAAAAAAAAAAAAA */


.port {
  display: flex;
  /* padding: 0 18vw; */
  margin-bottom: 100px;
}

.port-img {
  /* width: 800px; */
width: 50vw;
  height: auto;
}

.port-right-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.port-text {
  /* width: 45vw; */
  display: flex;
  flex-direction: column;
  padding: 50px 100px;
  font-size: 1rem;
  font-family: "Oswald";
  gap: 16px;
  /* font-family: "Merriweather"; */
  /* font-family: "Montserrat"; */

}
.port-text h1 {
  text-align: center;
  /* font-weight: 400; */
  color: var(--main-color)
}
.port-text p {
  font-size: 1.2rem;
  text-align: justify;
  font-family: "Oswald";
  font-family: "Merriweather";
  /* font-family: "Montserrat"; */
}


.port-andres img {
  width: 300px;
  border-radius: 10px;
}



/* CONTACTOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO */

.andres-container {
  display: flex;
  padding: 50px 10vw;
}

.andres-card {
  display: flex;
  gap: 50px;
}

.andres-text p {
  text-align: justify;
  font-size: 1rem;
}

.contacto-icon {
  width: 85px;
  margin-bottom: 10px;
}



.andres-text .contacto-link {
  color: var(--main-color); 
  /* color: grey; */
  font-weight: 700; 
  text-decoration: none;
  font-size: 1.5rem;
  margin-top: 1rem;
}
.contacto-link:hover {
  color: black;
}