<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equipo - Centro Heerlein</title>
    <link rel="stylesheet" href="../styles.css">
    <script src="../scripts.js"></script>
    <!-- <link rel="icon" href="../images/favicon.ico"> -->
    <style>@import url('https://fonts.googleapis.com/css2?family=Gupter:wght@400;500;700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Playfair+Display:wght@400..900&display=swap');</style>
    <link rel="shortcut icon" href="../images/icons/favicon.ico" type="image/x-icon">

</head>
<body>
    <header>
        <div class="top-nav"></div>
        <div class="navbar">
            <a href="../index.html" class="logo-container">
                <img src="../images/icons/heerlein-logo.png" alt="logo" class="img-logo">
            </a>
            <!-- <a href="../index.html" class="logo-link">
                <div class="div-logo">
                  <h1>Centro Heerlein</h1>
                  <p>Salud Mental</p>
                </div>
            </a>     -->
        
            <button class="hamburger" id="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </button>
        
            <nav class="nav-menu" id="nav-menu">
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="./andres.html">Dr. Andrés Heerlein</a></li>
                    <li><a href="./equipo.html">Nuestros Profesionales</a></li>
                    <li><a href="./contacto.html">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </header>




        <div class="andres-container">

            <div class="andres-card">
                <h1 class="tab-title">Dr. Andrés Heerlein Lobenstein</h1>
                <div class="andres-img">
                    <a href="https://www.linkedin.com/in/andr%C3%A9s-heerlein-lobenstein-46257a7a/" target="_blank"><img class="andres-card-img" src="../images/team/andres-portrait.jpeg" alt=""></a>
                    
                    <div class="expertise-section">
                        <h2>Se especializa en:</h2>
                        <ul class="expertise-list">
                            <li>Depresión mayor</li>
                            <li>Trastornos del ánimo</li>
                            <li>Ansiedad</li>
                            <li>Estrés postraumático</li>
                            <li>Crisis de pánico</li>
                            <li>Distimia</li>
                            <li>Trastorno Adaptativo</li>
                        </ul>
                    </div>
                </div>
                <div class="bio-section">
                    <section>
                        <h3>Formación Académica y Primeros Años</h3>
                        <p>El Dr. Andrés Heerlein se graduó en 1980 como médico-cirujano en la Universidad de Chile, y completó su Doctorado en Psiquiatría en 1990 en la Universidad de Heidelberg, Alemania. Durante su estancia en Alemania, no solo se formó académicamente, sino que también ejerció como Jefe de la Unidad de Psicopatología por más de cinco años.</p>
                    </section>
                
                    <section>
                        <h3>Carrera Académica en Chile</h3>
                        <p>Al regresar a Chile en 1991, el Dr. Heerlein inició una destacada carrera académica:</p><br>
                        <ul>
                            <li>Profesor de Clínica Psiquiátrica en la facultad de medicina de la Universidad de Chile desde 1991.</li>
                            <li>Profesor titular de la facultad de Medicina de la Universidad del Desarrollo desde el 2009.</li>
                            <li>En 2012, ingresó a la Academia de Medicina de Chile como miembro de número.</li>
                        </ul>
                    </section>
                
                    <section>
                        <h3>Contribuciones a la Literatura Médica</h3>
                        <p>El Dr. Heerlein ha realizado significativos aportes a la literatura médica:</p><br>
                        <ul>
                            <li>Editor y co-editor de cuatro libros para la formación de nuevas generaciones de especialistas en psiquiatría y salud mental.</li>
                            <li>Autor de 57 trabajos científicos originales publicados en el extranjero.</li>
                            <li>Escritor de 22 capítulos de libros de psiquiatría.</li>
                            <li>Miembro del comité editorial de destacadas revistas internacionales, incluyendo la revista Psychopathology.</li>
                        </ul>
                    </section>
                
                    <section>
                        <h3>Liderazgo en Organizaciones Profesionales</h3>
                        <p>A lo largo de su carrera, el Dr. Heerlein ha ocupado importantes cargos en organizaciones médicas:</p><br>
                        <ul>
                            <li>Presidente de la Sociedad de Neurología, Psiquiatría y Neurocirugía de Chile (Sonepsyn) entre 1999 y 2001.</li>
                            <li>Cofundador de la Asociación de Sociedades Científicas Médicas de Chile (Asocimed) junto a la Dra. Gloria López.</li>
                            <li>Creador y Presidente de APICE, la Agencia acreditadora de postgrado y pos-título médico de Chile, fundada en 2008.</li>
                        </ul>
                    </section>
                
                    <section>
                        <h3>Reconocimientos Internacionales</h3>
                        <p>El Dr. Heerlein es Miembro Honorario de la Asociación Mundial de Psiquiatría (WPA).</p>
                    </section>
                    <section>
                        <h3>Información adicional</h3>
                        <ul>
                            <li>Modalidad de atención: presencial</li>
                            <li>Mail: ajheerlein@gmail.com</li>
                            <!-- <li>
                                <p><a href="https://www.linkedin.com/in/andr%C3%A9s-heerlein-lobenstein-46257a7a/" target="_blank">Linked In</a></p>
                            </li> -->
                        </ul>
                    </section>

                    
                
                
                </div>
                <!-- <a href="./contacto.html" class="cta-button">Solicitar Consulta</a> -->

            </div>



        </div>




        <footer>
            <div class="container">
                <div class="footer-content">
                    <div class="footer-section">
                        <h3>Centro Heerlein</h3>
                        <p>Psiquiatría Providencia</p>
                    </div>
                    <div class="footer-section">
                        <h3>Enlaces</h3>
                        <ul>
                            <li><a href="../index.html">Inicio</a></li>
                            <li><a href="./andres.html">Dr. Andrés Heerlein</a></li>
                            <li><a href="./equipo.html">Nuestros Profesionales</a></li>
                            <li><a href="./contacto.html">Contacto</a></li>
                        </ul>
                    </div>
                    <div class="footer-section">
                        <h3>Contacto</h3>
                        <p>Guardia Vieja 255, of. 1108, Providencia</p>
                        <p>Teléfono: +569 8500 0639</p>
                        <p>Email: contacto@centroheerlein.cl</p>
                    </div>
                </div>
            </div>
        </footer>
    
</body>
</html>

