<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Áreas de práctica - Abarca Zañartu Abogados</title>
    <link rel="stylesheet" href="../styles.css">
    <script src="../scripts.js"></script>
    <link rel="icon" href="../images/favicon.ico">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Gupter:wght@400;500;700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Playfair+Display:wght@400..900&display=swap');
    </style>

</head>
<body>
    <div class="top-nav"></div>
    
    <div class="navbar">
        <a href="../index.html" class="logo-container">
            <img src="../images/logo.png" alt="logo" class="img-logo">
        </a>
        
        <button class="hamburger" id="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </button>
      
        <nav class="nav-menu" id="nav-menu">
            <ul>
                <li><a href="../index.html">INICIO</a></li>
                <li><a href="nuestro_estudio.html">NUESTRO ESTUDIO</a></li>
                <li><a href="areas.html">ÁREAS DE PRÁCTICA</a></li>
                <li><a href="arbitraje_particion.html">ARBITRAJE Y PARTICIÓN</a></li>
                <li><a href="equipo.html">EQUIPO</a></li>
                <li><a href="contacto.html">CONTACTO</a></li>
            </ul>
        </nav>
    </div>









    <main>
        <div class="portada-container">
            <img src="../images/areas-portada.JPG" alt="portada" class="img-portada">
            <h1 class="texto-portada texto-portada-secundario">Áreas de Práctica</h1>
        </div>


        <div class="nosotros-container">
            <h2>Nuestra forma</h2>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum autem dolore omnis tenetur quod, non iure at fugit veniam officiis nemo ullam, cumque minima. Omnis, soluta? Impedit molestiae atque quo?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum ea minima corrupti velit, eos deleniti modi eum iste veniam culpa sint inventore libero excepturi quibusdam tempora vitae quas natus quia.
            <p>Nuestras principales áreas de práctica son:</p>
        </div>

        <div class="areas-container">

            <div class="area-card">
                <img class="area-img" src="../images/areas/Arbitrajes.webp" alt="">
                <div class="area-card-text">
                    <h3>ARBITRAJE</h3>
                    <p>José Antonio Abarca Moraga es Juez Arbitro nombrado por la Ilustrísima Corte de Apelaciones desde el año 2017, por lo que recibe causas de partición desde los Tribunales Civiles de Santiago.</p>
                    <p>Abarca Zañartu tramita además otros procedimientos arbitrales, destacando el procedimiento simplificado de división de herencia.</p>
                    <a class="text-link" style="font-size: 1rem;" href="./arbitraje_particion.html">Ver más ></a>
                </div>
            </div>
            <div class="area-card">
                <img class="area-img" src="../images/areas/Civil.webp" alt="">
                <div class="area-card-text">
                    <h3>CIVIL</h3>
                    <ul>
                        <li>Juicios de partición</li>
                        <li>Compra venta de inmuebles</li>
                        <li>Estudios de título</li>
                        <li>Cobranza</li>
                        <li>Juicios de arrendamiento</li>
                        <li>Procedimientos civiles varios</li>
                        <li>Regularización de la pequeña propiedad raíz</li>
                    </ul>
                </div>
            </div>
            <div class="area-card">
                <img class="area-img" src="../images/areas/Familia.webp" alt="">
                <div class="area-card-text">
                    <h3>FAMILIA</h3>
                    <ul>
                        <li>Divorcios</li>
                        <li>Tutela, Cuidado Personal y Visitas de menores</li>
                        <li>Pensión Alimenticia</li>
                    </ul>
                </div>
            </div>
            <div class="area-card">
                <img class="area-img" src="../images/areas/Enviromental.png" alt="">
                <div class="area-card-text">
                    <h3>AMBIENTAL</h3>
                    <ul>
                        <li>Obtención de Permisos Ambientales</li>
                        <li>Obtención de Permisos Sectoriales</li>
                        <li>Demanda de Daño Ambiental</li>
                        <li>Procedimientos Sancionatorios</li>
                    </ul>
                </div>
            </div>
            <div class="area-card">
                <img class="area-img" src="../images/areas/Laboral.webp" alt="">
                <div class="area-card-text">
                    <h3>LABORAL</h3>
                    <ul>
                        <li>Asesoría a empresas</li>
                        <li>Demanda de Despido Injustificado</li>
                        <li>Demanda de Cobro de Finiquito</li>
                        <li>Demanda por Vulneración de Derechos</li>
                    </ul>
                </div>
            </div>
            <div class="area-card">
                <img class="area-img" src="../images/areas/Corporativo.webp" alt="">
                <div class="area-card-text">
                    <h3>CORPORATIVO</h3>
                    <ul>
                        <li>Creación y modificación de sociedades</li>
                        <li>Contratos </li>
                    </ul>
                </div>
            </div>
            <div class="area-card">
                <img class="area-img" src="../images/areas/Penal.webp" alt="">
                <div class="area-card-text">
                    <h3>PENAL</h3>
                    <ul>
                        <li>Tramitación de Querella</li>
                        <li>Defensa temprana del imputado</li>
                    </ul>
                </div>
            </div>


             

        </div>









        <!-- ASESÓRATE CON NOSOTROS -->
        <div class="asesorate-container">
            <h1>Asesórate con nosotros</h1>
            <p>Diligencia y confidencialidad.</p>
            <a href="../templates/contacto.html"><div class="btn-contacto">Contacto</div></a>
         </div>



        
    </main>

























    <footer class="footer-container">
        <a class="logo-container" href="../index.html">
            <img src="../images/logo-s.png" alt="logo" class="img-logo">
        </a>
        <!-- <p>2024  &copy; Todos los derechos reservados.</p> -->
    </footer>
</body>
</html>

