<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto - Abarca Zañartu Abogados</title>
    <link rel="stylesheet" href="../styles.css">
    <script src="../scripts.js"></script>
    <link rel="icon" href="../images/favicon.ico">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Gupter:wght@400;500;700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Playfair+Display:wght@400..900&display=swap');
    </style>

</head>
<body>
    <div class="top-nav"></div>

    <div class="navbar">
        <a href="../index.html" class="logo-container">
            <img src="../images/logo.png" alt="logo" class="img-logo">
        </a>
        
        <button class="hamburger" id="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </button>
      
        <nav class="nav-menu" id="nav-menu">
            <ul>
                <li><a href="../index.html">INICIO</a></li>
                <li><a href="nuestro_estudio.html">NUESTRO ESTUDIO</a></li>
                <li><a href="areas.html">ÁREAS DE PRÁCTICA</a></li>
                <li><a href="arbitraje_particion.html">ARBITRAJE Y PARTICIÓN</a></li>
                <li><a href="equipo.html">EQUIPO</a></li>
                <li><a href="contacto.html">CONTACTO</a></li>
            </ul>
        </nav>
    </div>








    <main>

        <div class="portada-container">
            <img src="../images/view1.png" alt="portada" class="img-portada">
            <h1 class="texto-portada texto-portada-secundario">Contacto</h1>
        </div>
        <div class="contacto-container">
            <!-- <h1>Contacto</h1> -->
            <div class="contacto-cards-container">
                <!-- Ubicación -->
                <div class="contacto-card">
                    <img src="../images/icons/map-icon.png" alt="map-icon">
                    <h2>Ubicación</h2>
                    <p>Av. Americo Vespucio Norte 958, Las Condes</p>
                    <!-- <p>Las Condes</p> -->
                    <p>Oficina 1102</p>
                </div>
                <!-- Email -->
                <div class="contacto-card">
                    <img src="../images/icons/mail-icon.png" alt="map-icon">
                    <h2>Email</h2>
                    <p>contacto@abarcazanartu.cl</p>
                </div>
                <!-- Teléfonos -->
                <div class="contacto-card">
                    <img src="../images/icons/phone-icon.png" alt="map-icon">
                    <h2>Teléfonos</h2>
                    <p>(+569) 66578170</p>
                    <p>(+569) 92214351</p>
                </div>
            </div>
            <!-- <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1177.575203771846!2d-70.58670116238996!3d-33.40536449697924!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662cf3ac548f3a1%3A0x766db81795a9a379!2sAm%C3%A9rico%20Vespucio%20Nte.%20958%2C%20oficina%201102%2C%207561143%20Las%20Condes%2C%20Regi%C3%B3n%20Metropolitana%2C%20Chile!5e0!3m2!1sen!2sus!4v1723488302260!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3330.69232254973!2d-70.58933862382857!3d-33.40519039519655!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662cf0be1865bb3%3A0xbdb2c85039de9ed2!2sAbarca%20Za%C3%B1artu%20Abogados!5e0!3m2!1sen!2scl!4v1723646069517!5m2!1sen!2scl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

        </div>
    </main>





















    
    <footer class="footer-container">
        <a class="logo-container" href="../index.html">
            <img src="../images/logo-s.png" alt="logo" class="img-logo">
        </a>
        <!-- <p>2024  &copy; Todos los derechos reservados.</p> -->
    </footer>
</body>
</html>

