<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equipo - Abarca Zañartu Abogados</title>
    <link rel="stylesheet" href="../styles.css">
    <script src="../scripts.js"></script>
    <!-- <link rel="icon" href="../images/favicon.ico"> -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Gupter:wght@400;500;700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Playfair+Display:wght@400..900&display=swap');
    </style>

</head>
<body>
    <div class="top-nav"></div>



    <div class="navbar">
        <a href="../index.html" class="logo-container">
            <img src="../images/logo.png" alt="logo" class="img-logo">
        </a>
        
        <button class="hamburger" id="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </button>
      
        <nav class="nav-menu" id="nav-menu">
            <ul>
                <li><a href="../index.html">INICIO</a></li>
                <li><a href="nuestro_estudio.html">NUESTRO ESTUDIO</a></li>
                <li><a href="areas.html">ÁREAS DE PRÁCTICA</a></li>
                <li><a href="arbitraje_particion.html">ARBITRAJE Y PARTICIÓN</a></li>
                <li><a href="equipo.html">EQUIPO</a></li>
                <li><a href="contacto.html">CONTACTO</a></li>
            </ul>
        </nav>
    </div>




    <main>
        <!-- <div class="portada-container">
            <img src="../images/equipo.JPG" alt="portada" class="img-portada">
            <h1 class="texto-portada texto-portada-secundario">Nuestro equipo</h1>
        </div>
         -->
        <h1 class="title">Nuestro equipo</h1>

        <div class="equipo-container">

            <div class="equipo-card">
                <a href="https://www.linkedin.com/in/andr%C3%A9s-heerlein-lobenstein-46257a7a/" target="_blank"><img class="equipo-card-img" src="../images/8.jpeg" alt="José Antonio Abarca"></a>
                <h3>Dr. Andrés Heerlein Lobenstein</h3>
                <p>Médico Psiquiatra</p>
                <p class="main-color">ajheerlein@gmail.com</p>
            </div>


        </div>



















        <!-- ASESÓRATE CON NOSOTROS -->
        <!-- <div class="asesorate-container">
            <h1>Asesórate con nosotros</h1>
            <p>Diligencia y confidencialidad.</p>
            <a href="../templates/contacto.html"><div class="btn-contacto">Contacto</div></a>
         </div> -->

    </main>






















    

    <footer class="footer-container">
        <a class="logo-container" href="../index.html">
            <img src="../images/logo.png" alt="logo" class="img-logo">
        </a>
        <!-- <p>2024  &copy; Todos los derechos reservados.</p> -->
    </footer>
</body>
</html>

