<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equipo - Centro Heerlein</title>
    <link rel="stylesheet" href="../styles.css">
    <script src="../scripts.js"></script>
    <!-- <link rel="icon" href="../images/favicon.ico"> -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Gupter:wght@400;500;700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Playfair+Display:wght@400..900&display=swap');
    </style>

</head>
<body>
    <div class="top-nav"></div>



    <!-- <div class="navbar">
        <a href="../index.html" class="logo-container">
            <img src="../images/logo.png" alt="logo" class="img-logo">
        </a>
        
        <button class="hamburger" id="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </button>
      
        <nav class="nav-menu" id="nav-menu">
            <ul>
                <li><a href="../index.html">INICIO</a></li>
                <li><a href="nuestro_estudio.html">NUESTRO ESTUDIO</a></li>
                <li><a href="areas.html">ÁREAS DE PRÁCTICA</a></li>
                <li><a href="arbitraje_particion.html">ARBITRAJE Y PARTICIÓN</a></li>
                <li><a href="equipo.html">EQUIPO</a></li>
                <li><a href="contacto.html">CONTACTO</a></li>
            </ul>
        </nav>
    </div> -->
    <div class="navbar">
        <!-- <a href="../index.html" class="logo-container">
            <img src="./images/logo.png" alt="logo" class="img-logo">
        </a> -->

        <a href="../index.html" class="logo-link">
            <div class="div-logo">
              <h1>Centro Heerlein</h1>
              <p>Salud Mental</p>
            </div>
        </a>   
        
        <button class="hamburger" id="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </button>
      
        <nav class="nav-menu" id="nav-menu">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <!-- <li><a href="./templates/nuestro_estudio.html">Quiénes Somos</a></li> -->
                <!-- <li><a href="./templates/areas.html">Áreas de Atención</a></li> -->
            <li><a href="./equipo.html">Nuestros Profesionales</a></li>
                <li><a href="./andres.html">Dr. Andrés Heerlein</a></li>
                <li><a href="./contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </div>




    <main>
        <!-- <div class="portada-container">
            <img src="../images/equipo.JPG" alt="portada" class="img-portada">
            <h1 class="texto-portada texto-portada-secundario">Nuestro equipo</h1>
        </div>
         -->
         <div role="main">
            <h1 class="title">Conoce a nuestros profesionales</h1>
            
            <div class="equipo-container">
              <div class="equipo-card">
                <div class="equipo-card-img-container">
                  <img src="../images/andres3.jpg" alt="Dr. Andrés Heerlein Lobenstein" class="equipo-card-img">
                </div>
                <div class="equipo-card-content">
                  <h3>Dr. Andrés Heerlein Lobenstein</h3>
                  <p>Psiquiatra</p>
                  <a href="https://www.linkedin.com/in/andr%C3%A9s-heerlein-lobenstein-46257a7a/" class="linkedin-text-link" target="_blank">
                    <img src="../images/icons/linked-in-logo.webp" alt="LinkedIn">
                    Ver perfil
                  </a>
                  <p>ajheerlein@gmail.com</p>
                </div>
              </div>
          
              <div class="equipo-card">
                <div class="equipo-card-img-container">
                  <img src="../images/psic1.jpg" alt="Nombre Psicóloga" class="equipo-card-img">
                </div>
                <div class="equipo-card-content">
                  <h3>Nombre Psicóloga</h3>
                  <p>Psicóloga</p>
                  <a href="#" class="linkedin-text-link" target="_blank">
                    <img src="../images/icons/linked-in-logo.webp" alt="LinkedIn">
                    Ver perfil
                  </a>
                  <p>mail@gmail.com</p>
                </div>
              </div>
          
              <div class="equipo-card">
                <div class="equipo-card-img-container">
                  <img src="../images/psic2.jpg" alt="Nombre Psicóloga 2" class="equipo-card-img">
                </div>
                <div class="equipo-card-content">
                  <h3>Nombre Psicóloga 2</h3>
                  <p>Psicóloga</p>
                  <a href="#" class="linkedin-text-link" target="_blank">
                    <img src="../images/icons/linked-in-logo.webp" alt="LinkedIn">
                    Ver perfil
                  </a>
                  <p>mail2@gmail.com</p>
                </div>
              </div>
            </div>
          </div>

















        <!-- ASESÓRATE CON NOSOTROS -->
        <!-- <div class="asesorate-container">
            <h1>Asesórate con nosotros</h1>
            <p>Diligencia y confidencialidad.</p>
            <a href="../templates/contacto.html"><div class="btn-contacto">Contacto</div></a>
         </div> -->

    </main>






















    

    <footer>
        <div class="container">
            <div class="footer-content">
                <div class="footer-section">
                    <h3>Centro Heerlein</h3>
                    <p>Cuidando su salud mental desde 1980</p>
                </div>
                <div class="footer-section">
                    <h3>Contacto</h3>
                    <p>Guardia Vieja 255, of. 1108, Providencia</p>
                    <p>Teléfono y whatsapp: +569 8500 0639</p>
                    <p>Email: ajheerlein@gmail.com</p>
                </div>
            </div>
        </div>
    </footer>
    
</body>
</html>

